* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: grey;
}

a {
  text-decoration: none;
  margin-left: 20px;
}

li {
  list-style: none;
  margin-right: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 20%;
  background-color: rgb(65, 64, 64);
}

.esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda .logo img {
  object-fit: cover;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  padding: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.esquerda .logo img:hover {
  box-shadow: 0 0 10px rgb(255, 244, 232);
}

.esquerda .nome {
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  transition: text-shadow 0.3s ease-in-out;
}

.esquerda .nome:hover {
  text-shadow: 0 0 10px rgb(255, 244, 232);
}

main {
  padding-top: 17em;
  padding-inline-end: 17em;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 60%;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 20px;
  margin-bottom: 10%;
}

@media (max-width: 768px) {
  /* Alteração para telas menores */
  .container > div {
    flex: 0 0 calc(50% - 20px); /* Altera para duas colunas em telas menores */
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item ul li,
.grid-item pi pk,
.grid-item al xc,
.grid-item pl ji,
.grid-item ll lg,
.grid-item ml gf {
  margin: 0;
}

.circular-image {
  border-radius: 50%;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.lista,
.list,
.lis,
.ista,
.sta,
.ta {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  width: 80%;
}

.lista li,
.list pk,
.lis xc,
.ista ji,
.sta lg,
.ta gf {
  font-size: 20px;
  width: 80%;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
}

.lista li:first-child,
.list pk:first-child,
.lis xc:first-child,
.ista ji:first-child,
.sta lg:first-child,
.ta gf:first-child {
  margin-top: 15px;
}

.lista li:hover,
.list pk:hover,
.lis xc:hover,
.ista ji:hover,
.sta lg:hover,
.ta gf:hover {
  background-color: lightgray;
}

.lista li a,
.list pk b,
.lis xc c,
.ista ji d,
.sta lg e,
.ta gf f {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.lista li:hover a,
.list pk:hover b,
.lis xc:hover c,
.ista ji:hover d,
.sta lg:hover e,
.ta gf:hover f {
  text-decoration: underline;
  color: dimgray;
}

nav ul li a {
  color: rgb(255, 244, 232);
  font-size: 1.2em;
  transition: text-shadow 0.2s ease-in-out;
}

nav ul li a:hover {
  text-shadow: 0 0 10px rgb(255, 244, 232);
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: rgb(65, 64, 64);
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 25px;
}

.footer-section {
  flex: 1;
  margin-left: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
}

.footer-section ul li a {
  color: white;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  width: 100%;
  text-align: center;
}
